@font-face {
  font-family: singhFont;
  src: url("./assets/singhFont.ttf") format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: singhFont;
  font-weight: normal;
}

.clickable{
  cursor: pointer;
}

.html{
  scroll-behavior: smooth;
}